:root{
    --dark-blue-lm: #13293D;
    --dark-blue-dm: #17202C;
    --dark-blue-2-dm: #273340;
    --blue: #006494;
    --white: #ecf2f3;
    --black: #2F2D2E;
    --light-font: 100;
    --medium-font: 400;
    --bold-font: 700;
}

*{
    font-family: 'Lexend Deca', sans-serif;
}

.logo-img {
    height: 70px;
}

.yo-container{
    display: flex;
    justify-content: center;
}

.yo{
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

main {
    padding-top: 80px;
    background-color: var(--white);
}

.header-lm, .inicio-lm {
    color: var(--dark-blue-lm);
    background-color: var(--white);
}

.ejemplos-paginas-lm, .card-cursos-header-lm, footer{
    color: var(--white);
    background-color: var(--blue);
}

.icon-footer{
    width: 60%;
    transition: 300ms;
}

.botones-cursos button{
    transition: 300ms;
}

.botones-cursos button:hover{
    transform: scale(1.1);
}
.botones-cursos button:active{
    transform: scale(0.9);
}

.icon-footer:hover{
    transform: scale(1.3);
}
.icon-footer:active{
    transform: scale(0.8);
}

#progress:hover{
    transform: scale(1.2);
}
#progress:active{
    transform: scale(0.9);
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999999999;
    transition: 300ms;
}

#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
}

@media (max-width: 991px) {
    .logo-img {
        height: 50px;
    }
    .yo{
        max-height: 270px;
    }
}
@media (max-width: 600px) {
    .yo{
        max-height: 230px;
    }
}