:root{
    --dark-blue: #13293D;
    --blue: #006494;
    --light-blue: #2970CA;
    --white: #E8F1F2;
    --black: #2F2D2E;
    --light-font: 100;
    --medium-font: 400;
    --bold-font: 700;
}

*{
    font-family: 'Lexend Deca', sans-serif;
}

#header {
    color: var(--dark-blue);
}

.logo-img {
    width: 80px
}

main {
    margin-top: 100px;
}

.text-bg-white{
    color: var(--dark-blue);
}

.info-personal-2, .ejemplos-paginas, .card-cursos-header, footer{
    color: var(--white);
    background-color: var(--blue);
}

.img-change{
    height: 200px !important;
}

.icon-footer{
    width: 75%;
    transition: 300ms;
}

.icon-footer:hover{
    transform: scale(1.5);
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999999999;
}

#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
}